<script lang="ts">
  import axios from 'axios'

  let fileinput;

  function onSubmit() {
    const image = fileinput.files[0]
    
    const formData = new FormData();
    formData.append('file', image);

    axios.post('http://localhost:8080/uploadimage', formData, {
      headers: {
        'Content-Type': 'multipart/form-data'
      }
    })
    .then(res => {
      let tablehtml = '';
      let infohtml = '';
      let detecthtml = '';
      let tableContainer = document.getElementById('tableB');
      let generalInfo = document.getElementById('general-info');
      let detectionInfo = document.getElementById('detection');

      if(!res.data.Information.Error) {
      for (var key in res.data.Information[0].foodNutrients){
        tablehtml += `
            <tr>
                <td>${key}</td>
                <td>${res.data.Information[0].foodNutrients[key]}</td>
            </tr>
        `
      }
      infohtml += `
        <h2>Nutritional information:</h2>
        <p><b>Name</b>: ${res.data.Information[0].description}</p>
        <p><b>Last Update</b>: ${res.data.Information[0].lastUpdated}</p>
        <p><b>Portion</b>: ${res.data.Information[0].portion}</p>
      `
      let par = '';
      par = `<h2>Detection Results:</h2>`
      for (var items in res.data.Information[1]){
        for (var itemsResults in res.data.Information[1][items]){
            detecthtml += `
                    <li>${itemsResults}:${res.data.Information[1][items][itemsResults]}</li>
           `

        }
         
      }

        generalInfo.innerHTML = infohtml;
        tableContainer.innerHTML = tablehtml;
        detectionInfo.innerHTML = par+`<ul>`+detecthtml+`</ul>`;
    } else {
      infohtml += `
        <p><b>Error</b>: ${res.data.Information.Error}</p>
      `
        generalInfo.innerHTML = infohtml;
    }
    })
    .catch(error => {
      console.log(error);
    });
  }

</script>

<main>
  <h1>Upload your photo</h1>

  <form on:submit|preventDefault={onSubmit}>

    <input id="input_image" type="file" accept="image/jpg image/jpeg image/png" bind:this={fileinput}/>
    <button>Detect</button>
  </form>
  <div>
    <h3>Results:</h3>
    <p>The Information are extracted from: <a href="https://fdc.nal.usda.gov/fdc-app.html#/">Department of Agriculture USDA</a> </p>
  </div>
  <div id="general-info">
  </div>
  <div id="table-container">
    <p class="compon">Components:</p>
        <table>
        <thead>
            <tr>
            <th><b>Proximates:</b></th>
            <th><b>Values</b></th>
            </tr>
        </thead>
        <tbody id="tableB">
        </tbody>
        </table>
  </div>
  <div id="detection">
  </div>

</main>

<style>
  :root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  main {
    text-align: center;
    padding: 1em;
    margin: 0 auto;
  }

  img {
    height: 16rem;
    width: 16rem;
  }

  h1 {
    color: #ff3e00;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.1;
    margin: 2rem auto;
    max-width: 14rem;
  }

  p {
    max-width: 14rem;
    margin: 1rem auto;
    line-height: 1.35;
  }

  @media (min-width: 480px) {
    h1 {
      max-width: none;
    }

    p {
      max-width: none;
    }
  }
  table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }

  th {
    background-color: rgb(225,235,235);
  }

  td {
    text-align: center;
  }

  tr:nth-child(even) td {
    background-color: rgb(250,250,250);
  }

  tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
  }
  .compon {
    text-align: left;
    font-weight: bold;
  }
  #general-info {
    text-align: left;
  }
  ul {
    list-style-type: none;
    margin: 3;
    padding: 3;
    overflow: hidden;
    background-color: #F44336;
  }
  li {
    float: left;
    text-align: left;
  }
</style>
